@import url(../../../../../../src/styles.css);
h1 {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    color: var(--texto-segunda-cor);
    background-color: var(--background-terceira-cor);
}
