@import url(../../../../../../src/styles.css);
div {
    width: 100%;
    min-height: 250px;
    background-color: var(--background-segunda-cor);
    margin-top: 20px;
    /* Descolar a parte de cima */
}

ul {
    padding: 20px;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"] {
    width: 5%;
}

input[type="text"] {
    width: 80%;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    color: var(--texto-primeira-cor);
}

input[type="text"].checked {
    text-decoration: line-through;
}

button {
    width: 5%;
    background: none;
    border: none;
}

i {
    color: var(--danger-color);
}

.listaVazia {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSap1L6WCV44cpt-MHMn26UILfKDl5o-FEs2PTMF9p8_Vi8ZUEvOOl4vOWTXEKJuDtcygo&usqp=CAU');
    background-repeat: no-repeat;
    background-position: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
