/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
    --primeira-cor: #AF7EEB;
    --segunda-cor: #939CBD;
    --terceira-cor: #FFFFFF;
    --background-primeira-cor: #E3E9FF;
    --background-segunda-cor: var(--terceira-cor);
    --background-terceira-cor: var(--primeira-cor);
    --texto-primeira-cor: var(--segunda-cor);
    --texto-segunda-cor: var(--terceira-cor);
    --danger-color: red;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
}

body {
    background-color: var(--background-primeira-cor);
}

.container {
    width: 350px;
    margin: 50px auto;
}
